<!DOCTYPE html>
<html>
<body>
  <div id="app">
    <div>差值表达式</div>
      <span>{{ msg }}</span>
      <span>{{ count }}</span>
    <div>v-text</div>
      <span v-text="msg"></span>
    <div>v-model</div>
      <input type="text" v-model="msg">
      <input type="text" v-model="count">
  </div>
  <script src="./vue7.js"></script>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        msg: 'test',
        count: 20,
        person: {name: 'zs'}
      }
    })
  </script>
</body>
</html>